footer {
    color: $text-muted;

    a {
        color: inherit;

        &:hover {
            color: lighten($text-muted, 10%);
            @include transition(.15s ease-in-out);
            text-decoration: inherit;
        }

        &.repo-link {
            text-decoration: underline;
        }
    }
}
